.notes {
    font-size: small;
    color: black;
}

.copy-right-footer{
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}

.canvas{
    border: #f5f5f5;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}